@import "_mixin";
@font-face {
    font-family: 'sofia_pro_regular';
    src: url('../fonts/sofia-pro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sofia-pro-regular-webfont.woff') format('woff'),
         url('../fonts/sofia-pro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sofia-pro-regular-webfont.svg#sofia_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
//base style and resets
*{
  //prefering css reset, but not specified in task
  margin: 0; padding: 0;
}
body{
  background-color: #fcfbf9;
  font-family: 'sofia_pro_regular';
  font-size: 16px;
}
//page elements
@import "partials/_page-elms.scss";
//btn / CTA
@import "partials/_buttons.scss";
//input fields
.input-fld{
  border: 1px solid #dddad6;
  box-sizing: border-box;
  color: #002d47;
  font-size: 13px;
  font-weight: lighter;
  margin: 1em 0;
  padding: 1em .750em;
  width: 100%;
  @include modify('error'){
    border-color: #e6535d;
  }
}
.input-fld{
  @include placeholder{
    color: #999;
  }
}
// validation states
.error-msg{
  display: none; //remove to enable and style additionale if needed
  color: #e6535d;
  font-size: 13px;
  font-weight: lighter;
}
.wrapper{
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}
.page{
  margin: 3em 0;
}
//header
@import "partials/_header";
//slider area
@import "partials/_slider";
//choose shop
@import "partials/_choose-shop";

// product spotlight
@import "partials/_product-spotlight";
//footer
@import "partials/_footer";
